table{
    /* background-color: aqua; */
margin-left: 20vw;
margin-top: 10vw;


}
td{
    /* background-color: aquamarine; */
    
}
tr{
    background-color: bisque;
}
body{
    background-color: black;
}